/*
Theme Name: Dan Bilzerian 2014
Author: Brandon Brotsky
Author URI: http://www.brandonbrotsky.com/
Version: 1.0

*/

body
{
	background: url('img/greyzz.png');
}

#main-image .highquality {
    display: none;
}

@media only screen and (-webkit-min-device-pixel-ratio: 1.5),
	only screen and (-o-min-device-pixel-ratio: 3/2),
	only screen and (min--moz-device-pixel-ratio: 1.5),
	only screen and (min-device-pixel-ratio: 1.5)
{
    body {
	    background: url('img/greyzz_@2X.png');
	}
}

@media only screen and (-webkit-min-device-pixel-ratio: 1.5),
	only screen and (-o-min-device-pixel-ratio: 3/2),
	only screen and (min--moz-device-pixel-ratio: 1.5),
	only screen and (min-device-pixel-ratio: 1.5), (min-width: 1600px)
{
    #main-image .highquality {
        display: block;
    }
    
    #main-image .normal {
        display: none;
    }

}

p
{
	text-align: justify;
}

/*body > .navbar*/
body > #sb-site > .navbar
{
	top: 30px;
	width: 100%;
	max-width: 960px;
	margin: 0 auto;
	
	z-index: 2;
}

/*body > #content*/
body > #sb-site > #content
{
	position: relative;
	top: 0px;
	width: 100%;
}

.navbar-default
{
	background: none;
	border: none;
}

.navbar-toggle
{
	background: white;
}


ul.nav>li
{
	width: 15%;
}

ul.nav>li>a:hover
{
	background: rgba(255,255,255,0.9);
	color: #fd907a;
}

ul.nav > li > a
{
	border-top: 1px solid rgba(255, 255, 255, 0.3);
	border-bottom: 1px solid rgba(255, 255, 255, 0.3);
	
	background: rgba(255,255,255,0.9);
	
	color: black;
	text-transform: uppercase;
	ttext-shadow: 1px 1px 1px #000;
	
	box-shadow: 2px 2px 2px #000;
}

ul.nav>li:first-child > a
{ border-radius:10px 0 0 10px; }

ul.nav>li:last-child > a
{ border-radius: 0 10px 10px 0; }


ul.nav>li.icon>a
{
	margin-top: 0;
	border: none;
	padding-left: 40px;
	padding-right: 40px;
	
	bbackground: none;
	
	border-radius:10px;
}

ul.nav>li.icon img
{
	height: 90px;
}

#main-image
{
	text-align: center;
	border-bottom: 5px solid black;
	box-shadow: 0 0 50px #000;
}

#main-image > img
{
	width: 100%;
	margin: 0 auto;
	
	vertical-align: middle;
}

#signature
{
	position: absolute;
	
	top: 50%;
	left: 50%;
	
	margin-left: -150px;
	margin-top: -40px;
	
	height: 133px;
}


.container
{
}

.heading
{
	text-align: center;
	padding-top: 2em;
	padding-bottom: 3em;
}

h2, h3, h4
{
	margin: 0;
}

h1
{
	font-family: 'Noto Sans', sans-serif;
	margin: 0;
	
	text-transform:uppercase;
	font-weight: 800;
}

h2
{
	font-size: 100%;
	color: #666;
	font-weight: bold;
	
	display: inline-block;
	
	text-transform: uppercase;
	letter-spacing: 0.6em;
	
	border-top: 1px dotted black;
	border-bottom: 1px dotted black;
	
	margin-top: 1em;
	padding: 0.25em 0;
	text-align: center;
}


h3
{
	text-transform: uppercase;
	margin-bottom: 0.25em;
}

h4
{
	margin: 0.5em 0;
	color: #777;
	font-size: 90%;
	text-transform: uppercase;
}

#press
{
	margin-top: 4em;
	
	background: linear-gradient(to bottom,
									rgba(0,0,0, 0.85) 0%,
									rgba(0,0,0, 0.85) 100%),
				url(img/texture_metal.jpg) repeat 0 0;
				
	color: white;
	text-align: center;
	box-shadow: 0 0 50px #000;
}

#press img
{
	/*width: initial;*/
	
	max-width: 100%;
	max-height: 150px;

	padding: 5px;
	display: inline-block;
	
	box-shadow: none;
}

#press img:hover
{
	opacity: 0.8;
}

#press .row>div
{
	display: table;
	height: 150px;
}

#press .row>div>a
{
	display: table-cell;
	vertical-align: middle;
}

#press a.carousel-control
{
	background: none;
}

.container .row img
{
	width: 100%;
	border-radius: 10px;
	
	box-shadow: 2px 2px 2px #000;
}

.gallery.container .row img:hover
{
	opacity: 0.75;
}


.container .row p
{
	margin: 0;
	color: #999;
	
	padding-top: 0.5em;
	padding-bottom: 0.5em;
}

.container .row .img-container
{
	width: 100%;
	mmax-height: 300px;
	ooverflow-y: hidden;
	border-radius: 10px;
	margin-bottom: 1em;
	vertical-align: middle;
}

.image-section
{
	color: white;
	background: black;
	text-align: center;
}

#social.image-section
{
/*
linear-gradient(to bottom,
									rgba(0,0,0, 0.5) 0%,
									rgba(0,0,0, 0.5) 100%),
*/
									
	/*background: url(img/bikini.jpg) no-repeat top center;*/
	background: url(img/bikini.jpg) no-repeat center center;
	background-attachment: fixed;
	
	box-shadow: 0 0 50px #000;
}


#social
{
	padding: 7em 0;
	
	text-shadow: 2px 2px 2px #000;
}

#social h1
{
	font-size: 200%;
	border-top: 2px dotted rgba(255, 255, 255, 1);
	border-bottom: 2px dotted rgba(255, 255, 255, 1);
	
	padding-top: 0.5em;
	padding-bottom: 0.5em;
	
	display: inline-block;
	
	margin-bottom: 1.5em;
}

#social ul, #team ul
{
	list-style-type: none;
	margin: 0;
	padding: 0;
}

#team ul
{
	margin-bottom: 0.5em;
}

#social ul>li, #team ul>li
{
	display: inline-block;
	width: 20%;
	max-width: 6em;
}

#social ul>li a
{
	color: white;
	font-size: 200%;
}

#social ul>li a:hover
{
	color: rgb(36, 229, 255);
}

#team ul>li a
{
	font-size: 200%;
	color: black;
}

#team ul>li a:hover
{
	color: rgb(6, 199, 225);
}



section
{
	padding-top: 4em;
	padding-bottom: 4em;
}


#map-container
{
	width: 100%;
	height: 300px;
}

.gform_wrapper
{
	margin: 0;
}

.gform_wrapper .gform_footer
{
	padding: 0 !important;
}

.gfield
{
	margin: 0.5em 0;
}

input[type="text"], input[type="email"], textarea
{
	width: 100%;
	
	font-size: 90%;
	color: #777;
	padding: 1em;
	display: block;
	border: 2px solid #bbb;
	border-radius: 5px;
}

input[type="text"]:hover, input[type="email"]:hover, textarea:hover
{
	border: 2px solid #ccc;
	background: #ededed;
}

input[type="submit"]
{
	color: white;
	background: #777;
	border: none;
	padding: 1em 2em;
	
	text-transform: uppercase;
	
	border-radius: 5px;
	
	float: left;
	clear: both;
	
	width: 99.2%;
}

input[type="submit"]:hover
{
	background: #999;
}

.instagram-img-holder
{
	text-align: center;
}

#instagram_feed img
{
	width: 100%;
	min-height: 256px;
	
	padding-bottom: 1em;
}

.gallery .image
{
	padding-bottom: 15px;
}


a.button
{
	padding: 1em 2em;
	background: #777;
	border-radius: 10px;
	color: white;
	text-decoration: none;
	display: block;
}

a.button:hover
{
	background: #999;
}




#twitter
{
	text-shadow: 2px 2px 2px #000;
}

#twitter.image-section {
   background: linear-gradient(to bottom, rgba(0,0,0, 0.5) 0%, rgba(0,0,0, 0.5) 100%), url(img/collage2.jpg) repeat center center;
   background-attachment: fixed;
   box-shadow: 0 0 50px #000;
   padding: 0;
   min-height: 400px;
}

.carousel-inner
{
}

.tweet-outer
{
	display: table;
	width: 100%;
	max-width: 80em;
	
	height: 350px;
	margin: 0 auto;
}

.tweet-inner
{
	display: table-cell;
	vertical-align: middle;
	text-align: center;
	
	padding: 0 15%;
}

.tweet-text
{
	color: white;
	font-size: 225%;
	
	text-transform: uppercase;
	
	border-top: 1px dotted white;
	border-bottom: 1px dotted white;
	
	padding: 0.5em 0;
}

.tweet-author
{
	color: #da9a16;
	font-size: 150%;
	
	text-align: right;
	
	text-transform: uppercase;
	
	padding: 1em;
	padding-bottom: 0;
}


footer
{
	background: #1d1d1d;
	padding: 2em 1em;
	color: #999;
	font-size: 90%;
	text-align: center;
}

#pussy_coordinator p {
    text-align: center;
    font-family: 'Noto Sans', sans-serif;
    font-size: 18px;
    text-transform: uppercase;
    color: #000;
}

#pussy_coordinator .gform_wrapper .top_label input.large, #pussy_coordinator .gform_wrapper .top_label select.large, #pussy_coordinator .gform_wrapper .top_label textarea.textarea, #pussy_coordinator .gform_wrapper .top_label input.medium, #pussy_coordinator .gform_wrapper .top_label select.medium {
    width: 99.2%;
}


@media (max-width: 768px)
{
	/*body > .navbar*/
	body > #sb-site > .navbar
	{
		top: 0;
	}
	
	.navbar li.icon
	{
		display: none;
	}
	
	ul.nav>li
	{
		width: inherit;
		border-bottom: 1px solid #444;
	}
	
	ul.nav > li > a
	{
		text-align: left;
		border: none;
		margin: 0;
		
		box-shadow: 2px 2px 2px #000;
	}
	
	ul.nav>li:first-child > a, ul.nav>li:last-child > a
	{ border-radius: 0 }
	
	.navbar-collapse
	{
		background: #2d2d2d;
	}
	
	
	.container-fluid > .navbar-collapse
	{
		padding: 0;
	}
	
	footer .row .text-left, footer .row .text-right
	{
		text-align: center;
	}
	
	.tweet-text
	{
		color: white;
		/*font-size: 175%;*/
		font-size: 145%;
	}
	
	#twitter.image-section
	{
		background-attachment: initial;
		background-size: 200%;
	}
	
	#social.image-section
	{
		background-attachment: initial;
	}
}




#twitter-feed-slider .current_slide{

}
#twitter-feed-slider .off_screen{
	display: none;
}
#twitter-feed-slider .feed_wrapper{
	background:#303030;
	padding-top:50px;
	padding-bottom:50px;
	color: #fff;
}
#twitter-feed-slider .tweet_icon {
	font-size: 120px;
}
#twitter-feed-slider .tweet_name{
	font-size: 25px;
}
#twitter-feed-slider .feed_inner{
	font-style:italic;
	margin-top:30px;
}
#twitter-feed-slider .feed_quote{
	color:#44c4df;
	font-size: 60px;
	top: -10px;
	text-align: right;
}
#twitter-feed-slider .feed_text{
	font-size: 20px;
}

#twitter-feed-slider .tweet_bubble{
   min-width: 55px;
   min-height: 55px;
   display: inline-block;
   padding-right: 20px;
   padding-left: 20px;
   padding-bottom: 10px;
   padding-top: 5px;
   background: #22c3f1;
   position: relative;
   text-align: center;
}
#twitter-feed-slider .tweet_bubble:before {
	content:"";
	position: absolute;
	right: 100%;
	top: 0px;
	width: 0;
	height: 0;
	border-top: 15px solid #22c3f1;
	border-left: 15px solid transparent;
}
#twitter-feed-slider .tweet_bubble_name{
	font-size: 20px;
}
#twitter-feed-slider .tweet_bubble_screen_name{
	font-size: 10px;
}

@media (max-width: 990px) {
    html body #twitter-feed-slider .feed_quote {
        display: none;
    }
    #twitter-feed-slider .tweet_bubble {
        margin-top: 10px;
        float: right;
    }
}

#gallery-grid .gallery .image {
    width: 20%;
    background: #d1d1d1;
    border: 1px solid #fff;
    float: left;
    color: #fff;
    position: relative;
}
#gallery-grid .gallery .image:hover {
    background: #21c2f8;
}

#gallery-grid .gallery .image img {
    width: 100%;
}

#gallery-grid .gallery .image:hover img {
    opacity: .2;
}

#gallery-grid .gallery .image .caption {
    position: absolute;
    width: 100%;
    height: 100%;
    color: #fff;
    top: 0;
    left: 0;
    text-align: center;
    display: none;
}

#gallery-grid .gallery .image:hover .caption {
    display: table;
    padding: 20px;
}

#gallery-grid .gallery .image:hover .caption .text {
    display: table-cell;
    vertical-align: middle;
}

@media (max-width: 767px) {
    #gallery-grid .gallery .image {
        width: 33.3%;
    }
    .logo img{
    	width: 45%;
    	margin: 15px 0 0 15px !important;
    }
    .sb-toggle-right{
    	right: 5px !important;
    }
}

@media (max-width: 500px) {
    #gallery-grid .gallery .image {
        width: 50%;
    }
}

.cta-item-button {
    display: block;
    text-shadow: 1px 1px 1px rgba(0,0,0,0.35);
    background-color: #ad3737;
    color: #fff;
    text-align: center;
    text-decoration: none;
    border-radius: 3px;
    box-shadow: 1px 1px 1px rgba(0,0,0,0.35);
    width: 100%;
    margin: 5px auto 0;
    margin-top: 3px;
    font-size: 1.85em;
    font-weight: 700;
    letter-spacing: 3px;
    padding: 15px;
    text-transform: uppercase;
    font-family: 'Open Sans Condensed';
    border-top: solid 1px #c14d4d;
    border: solid 1px firebrick;
}

.cta-item-button:hover {
        color: #666666;
        text-decoration: none;
}

.container .row .cta-item img {
    box-shadow: 0 0;
        border: solid 1px rgba(0,0,0,0.15);
        border-radius: 0;
}

.video-js {
    width: 100% !important;
    height: 100% !important;
}

/*New CSS*/
.vjs-poster{
	background-size: cover;
}
.logo{
	/*position: absolute;*/
	position: fixed;
	z-index: 5;
}
.logo img{
	margin: 25px 0 0 25px;
}
.play_now {
	position: absolute;
	z-index: 5555;
	margin-left: -51px;
	margin-top: -51px;
	left: 50%;
	visibility: hidden;
	cursor: pointer;
}
.play_now.active_play{
	visibility: visible;
}
.play_now:hover {
	opacity: 0.7;
}
.sb-toggle-right {
	position: fixed;
	z-index: 5;
	float: right;
	padding: 14px;
	width: 58px;
	cursor: pointer;
	right: 17px;
}
.sb-active-right .sb-toggle-right {
	right: 200px !important;
}
.navicon-line {
	background-color: #fff;
	border-radius: 1px;
	height: 4px;
	margin-bottom: 3px;
	width: 24px;
	box-shadow: 0 0 2px #000;
}
.sb-menu {
    list-style-type: none;
    margin: 0;
    padding: 0;
}
.sb-menu li {
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
    margin: 0;
    padding: 0;
    width: 100%;
    text-align: right;
}
.sb-menu li a, .sb-menu li span {
    color: #f2f2f2;
    display: inline-block;
    padding: 1em;
    width: 100%;
    cursor: pointer;
}
.sb-menu li span:hover{
	text-decoration: underline;
}
.sb-toggle-right{
	transition: all 400ms ease 0s;
}
.right_close_div{
	line-height: 40px;
	color: rgb(204, 204, 204);
	padding-left: 15px;
	z-index: 10000;
	position: relative;
}
.right_close{
	 float: right;
	 color: rgb(255, 255, 255);
	 width: 26px;
	 font-size: 30px;
	 cursor: pointer;
}

.slider-custom-control{
	text-align: center;
	display: block;
	margin-bottom: 30px;
}
.slider-custom-control img{
	cursor: pointer;
	height: 105px;
	width: 215px;
	display: none;
}
.slick-next, .slick-prev{
	display: none !important;
}
.slider-custom-control img:hover{
	opacity: 0.7;
}
.slider-custom-control .active_vid{
	border: 2px solid #ff0000;
}
.vjs-big-play-button{
	margin-left: -45px;
	margin-top: -22px;
	left: 50% !important;
	top: 50% !important;
}
.play_thumb{
	height: 50px;
	width: 50px;
	background-color: #FF0000;
	position: absolute;
}
.video_span {
	height: 105px;
	width: 215px;
	display: inline-block;
	cursor: pointer;
	border: 2px solid transparent;
	position: relative;
	margin: 5px 0;
}
/*.video_span:nth-child(1) {
	background: url(img/v1.jpg) no-repeat center center / 215px 105px;
}*/
.video_span:nth-child(1) {
	background: url(img/v2.jpg) no-repeat center center / 215px 105px;
}
.video_span:nth-child(2) {
	background: url(img/v3.jpg) no-repeat center center / 215px 105px;
}
.video_span:nth-child(3) {
	background: url(img/v4.jpg) no-repeat center center / 215px 105px;
}
.video_span:nth-child(4) {
	background: url(img/v5.jpg) no-repeat center center / 215px 105px;
}
.video_span.active_vid::after{
	background-image: none;
}
.video_span::after{
	background: url(img/pl_icon.png) no-repeat scroll center center / cover transparent;
	content: ' ';
	height: 35px;
	width: 50px;
	margin-left: -25px;
	margin-top: -18px;
	left: 50%;
	top: 50%;
	position: absolute;
}
.tweet-text a{
	word-break:break-all;
	display: block;
}

/*popup css*/
#cboxTopRight, #cboxTopCenter, #cboxTopLeft,
#cboxMiddleLeft, #cboxMiddleRight,
#cboxBottomRight, #cboxBottomCenter, #cboxBottomLeft{
	background: transparent !important;
}
#inline_content > img,
#inline_content2 > img{
	padding: 15px 45px;
}
.popup_right{
	width: 440px;
	float: right;
	text-align: center;
	/*margin-top: 70px;*/
	margin: 20px 0;
	font-family: 'Noto Sans' !important;
	font-weight: 700 !important;
}
.popup_right h3{
	font-family: 'Noto Sans' !important;
	font-weight: 700 !important;
}
.popup_right .warning{
	margin: 20px 0;
	font-size: 18px;
}
#inline_content2 .popup_right .warning{
	margin: 15px 0 10px;
}
.popup_right > input, .popup_right input[type="email"]{
	width: 86%;
	padding: 0.4em 1em;
	border: solid 1px #000;
	border-radius: 0px;
	color: #c4c4c4;
	font-size: 18px;
	font-family: 'Roboto';
}
.popup_right input[type="email"]{
	margin: auto;
}
.popup_right > input:hover, .popup_right input[type="email"]:hover{
	background: none;
	border: solid 1px #000;
}
.popup_right > select{
	padding: 10px 20px 10px 2px;
	margin-right: 10px;
	color: #c4c4c4;
	font-family: 'Roboto';
	font-size: 18px;
}
select.error{
	color: #6b0505;
	border: 1px solid #6b0505;
}
.warning.error{
	color: #6b0505;
}
input[type="email"].error{
	border-color: #6b0505;
	color: #6b0505;
}
.popup_right .mce_inline_error{
	background-color: #6b0505;
	color: #fff;
	width: 86%;
	padding: 5px 10px;
	font-weight: bold;
	margin: auto;
}
.popup_right .btn_wrapper{
	margin-top: 14px;
	font-size: 14px;
}
.popup_right .btn_wrapper button{
	background: #ad3737;
	color: #fff;
	border: none;
	padding: 10px 20px;
	margin-right: 15px;
	font-family: 'Roboto';
	font-size: 18px;
}
.popup_right input[type="submit"]{
	background: #ad3737;
	color: #fff;
	border-radius: 0px !important;
	font-family: 'Roboto';
	width: auto;
}
.popup_right .margin_clear{
	margin-top: 20px;
}
.popup_right .margin_clear span{
	display: inline-block;
	color: #c4c4c4;
	font-size: 14px;
	line-height: 48px;
	margin-left: 18px;
}
#inline_content2 .btn_wrapper{
	color: #c4c4c4;
}
.popup_right .btn_wrapper input[type="checkbox"]{
	margin-right: 5px;
	vertical-align: sub;
}
.close_popup{
	position: absolute;
	right: 0;
}
.close_popup_link, .close_popup_link:hover, .close_popup_link:visited{
	text-decoration: none;
	color: inherit;
	cursor: pointer;
}
#cboxLoadedContent{
	margin-bottom: 0 !important;
}
#cboxClose{
	display: none;
}
#cboxOverlay{
	background: rgba(0,0,0,0.75) !important;
}
body.fixBody{
	height: 100%;
	overflow: hidden !important;
}
label[for="remember_me"]{
	vertical-align: -1px;
}

@media (max-width: 767px) {
	#inline_content > img, #inline_content2 > img{
		margin: auto;
		display: block;
		height: 125px;
	}
	.popup_right{
		margin-top: 0px;
		max-width: 100%;
		padding: 0 10px;
	}
	.popup_right h3{
		font-size: 20px;
	}
	.popup_right .warning{
		font-size: 15px;
		margin: 10px 0;
	}
	.popup_right > select{
		padding-right: 13px;
	}
	#cboxTopRight, #cboxTopCenter, #cboxTopLeft{
		display: none;
	}
	.popup_right input, .popup_right select, .popup_right button{
		font-size: 15px !important;
	}
}
@media (min-width: 480px) and (max-width: 767px) {
	#inline_content .popup_right{
		/*padding: 0 45px;*/
		float: none;
		max-width: 335px;
		margin: auto;
	}
}

/*Small screen iPhone popup fix*/
@media (max-width: 325px) {
	.popup_right > select{
		margin-right: 4px;
		font-size: 13px !important;
		padding-right: 7px;
	}
}

/* Mozilla Specific CSS */
@-moz-document url-prefix() { 
	html{
		overflow: hidden !important;
		height: 100% !important;
	}
	body{
		overflow: auto !important;
		height: 100% !important;
	}
}

/* Chrome specific CSS */
@media screen and (-webkit-min-device-pixel-ratio:0) {
    #twitter.image-section, #social.image-section{
    	background-attachment: scroll !important;
    }
}

@media (min-width: 1920px){
	#twitter.image-section, #social.image-section {
		background-size: cover !important;
	}
}